HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Log ###
log/

### Profiles ###
core-controllers-dev.properties
core-services-dev.properties
utils-dev.properties
mail.properties
mail-dev.properties
payment.properties
payment-dev.properties
application-dev.properties
jrpc-client-dev.properties
auth-server-dev.properties
geodata-dev.properties
logback-spring-dev.xml

